[defaults]
host_key_checking = false
deprecation_warnings = false
callback_whitelist = profile_tasks
inventory = ./playground.proxmox.yaml

[privilege_escalation]
become = true
become_user = root

[paramiko_connection]
record_host_keys = false

[ssh_connection]
pipelining = true
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
control_path = %(directory)s/%%h-%%r
retries = 3

[persistent_connection]
command_timeout = 3600
connect_timeout = 3600
